body{
    background-color: rgb(230, 227, 227);
}
.box1{
    border: 2px rgb(0, 0, 0) solid;
    width: max-content;
    height: max-content;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 10px black;
}
p{
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
    margin: 5px;
    margin-bottom: -10px;
}